/*
	Theme Name: Motors - Child Theme
	Theme URI: http://motors.stylemixthemes.com/
	Author: StylemixThemes
	Author URI: http://stylemixthemes.com/
	Description: Motors Child theme
	Version: 2.5
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: blue, red, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, flexible-header, custom-background, custom-colors, custom-header, custom-menu, editor-style, sticky-post, theme-options
	Text Domain: motors-child
    Template: motors

    This theme, like WordPress, is licensed under the GPL.
    Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Do not Add your own styles here, better go to assets/css/* and put your styles there!!!! */
:root {
    --radius: 0px;
    --baseFg: dimgray;
    --baseBg: #eceff3;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}

[v-cloak] {
    display: none;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

select.no-select2 {
    height: 40px;
    width: 100%;
    /*font: 400 12px/1.3 sans-serif;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: none;
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat;
    background-color: #eceff3;
    background-position: right 10px center, right bottom, right bottom, right bottom;
}


.stm-template-listing_four .stm-form-price-edit {
    margin-bottom: 25px !important;
}
.stm-template-listing_four .stm_add_car_form .stm-form-checking-user,
.stm-template-listing_four .stm_add_car_form .stm-form-checking-user::before,
.stm-template-listing_four .stm_add_car_form .stm-form-checking-user::after {
    background-color: #fff !important;
    padding: 10px 0 !important;
}

.add-car-btns-wrap {
    justify-content: center;
    margin-bottom: 25px !important;
}
.owl-stage.active {
    transition: none !important;
}

#remove_all {
    padding-right: 13px !important;
}

#remove_all a {
    text-decoration: none !important;
    color: #555;
}
.lg-outer .lg-item{
    background: none !important;
}
.animated {
    animation-duration: 0ms !important;
    animation-fill-mode: both !important;
}

.input-group.has_error {
    border-radius: 6px;
}

input.has_error, .input-group.has_error {
    border: 2px solid red !important;
}

.select2.has_error .select2-selection__rendered {
    border: 1px solid red !important;
}

.scrollToTop {
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 10000;
    width: 50px;
    height: 50px;
    background-color: #db1c22;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #db1c22;
    transition: .25s all;
    opacity: 0;
    visibility: hidden;
}

.scrollToTop:hover {
    color: #fff;
}

.scrollToTop.active {
    opacity: 1;
    visibility: visible;
}

.error404 #wrapper {
    position: static !important;
}

.noSpinner::-webkit-inner-spin-button,
.noSpinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .stm-listing-compare {
    bottom: 52px !important;
}

.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .stm-listing-favorite {
    bottom: 85px !important;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific sli der handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    border: 4px solid #ffffff;
    background: #db1c22; /* Red background */
    cursor: pointer; /* Cursor on hover */
    -webkit-box-shadow: 0px 0px 5px 0 #888888;
    -moz-box-shadow: 0px 0px 5px 0 #888888;
    box-shadow: 0px 0px 5px 0 #888888;
}

.slider::-ms-fill-lower {
    background: #db1c22;
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #db1c22; /* Red background */
    border-radius: 50%;
    border: 4px solid #ffffff;
    cursor: pointer; /* Cursor on hover */
    -webkit-box-shadow: 0px 0px 5px 0 #888888;
    -moz-box-shadow: 0px 0px 5px 0 #888888;
    box-shadow: 0px 0px 5px 0 #888888;
}

#validation-message {
    float: right;
    width: 100%;
    max-width: 220px;
}

.stm_price_input .input-group-addon {
    font-size: 20px !important;
}

.stm_price_input .input-group .input-group-addon + .form-control {
    border: none;
}