#listings-result .owl-prev,
#listings-result .owl-next {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 40%;
	/*display: block !important;*/
	border: 0px solid black;
	font-size: 35px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

#listings-result .owl-prev {
	left: 10px;
}

#listings-result .owl-next {
	right: 10px;
}

#listings-result .owl-prev i,
#listings-result .owl-next i {
	width: 100%;
	height: 100%;
}

#tesla-results {

	position: fixed;
	top: -45px;
	transition: all .2s ease-out;
	visibility: hidden;
	overflow: hidden;
	z-index: 23;
	padding: 5px 30px 5px 30px;

	&.fixed-filter-bar {
		top: 0 !important;
		visibility: visible;
		display: block;
	}

}

.found-teslas {
	display: flex;
	align-items: center;
	margin-bottom: 0 !important;

	i {
		color: #5c707c;
		margin-right: 15px;
	}

	span {
		margin-right: 5px;
	}
}

.stm-view-by.sticky {
	z-index: 22;
}

.stm-sort-by-options {
	display: flex;
	align-items: center;
}

.filter-button {
	width: 75px;
	padding: 10px;
	background: #db1c22;
	border-radius: 10px;
	margin-right: 20px;
	color: #fff;
}

.results-button {
	background: #db1c22;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	position: absolute;
	right: 5px;
	height: 40px;
	top: 5px;
	line-height: 40px;
	padding: 0 5px;
}

.stm-accordion-content {
	background-color: #fff;
}

.ais-Hits .owl-controls {
	margin: 0;
}

ol.ais-Hits-list {
	list-style: none;
}

ul.ais-Pagination-list {
	list-style: none;
	display: flex;
}

ul.ais-Pagination-list li {
	padding: 5px;
}

ul.ais-RefinementList-list {
	list-style: none;
}

.ais-RefinementList-checkbox {
	-webkit-appearance: checkbox;
}

.ais-Stats {
	display: inherit;
}

.ais-CurrentRefinements-label {
	display: none;
}

.ais-CurrentRefinements-category {
	display: inline-block;
	margin-right: 5px !important;
}

.ais-CurrentRefinements-category div {
	margin-right: 5px;
}

.ais-CurrentRefinements-item {
	padding-right: 5px !important;
}

ul.page-numbers .ais-Pagination-item--selected > a {
	background-color: #000000;
}

.ais-CurrentRefinements {
	display: inline-block;
}

.ais-ClearRefinements {
	display: inline-block;
	cursor: pointer;
	margin-right: 13px;
}

.ais-ClearRefinements .ais-CurrentRefinements-item {
	background-color: #5c707c;
}

.ais-ClearRefinements .ais-CurrentRefinements-item span {
	color: #fff;
}

.stm-clear-listing-one-unit {
	cursor: pointer;
}

.ais-SearchBox {
	padding: 5px 10px 17px 10px;
}

.ais-SearchBox-reset {
	display: none;
}

.stm-accordion-single-unit {
	margin-top: 0 !important;
	box-shadow: 0 2px 5px rgba(130, 123, 130, 1) !important;
}

.stm-accordion-single-unit > a.title {
	border-top: 1px solid #ddd !important;
}

.stm-accordion-single-unit .title:not(.collapsed) .minus {
	background-color: red;
}

.stm-accordion-single-unit .minus,
.stm-accordion-single-unit > a.title:hover .minus:after,
.stm-accordion-single-unit > a.title:hover .minus {
	color: #ccc !important;
}

.stm-accordion-single-unit > a.title.collapsed:hover .minus:after, .stm-accordion-single-unit > a.title.collapsed:hover .minus {
	background-color: #ccc !important;
}

.ais-HitsPerPage {
	padding-top: 10px;
	max-width: 175px;
	margin: 0 auto;
}

.prev_next {
	padding: 20px;
}

.pages {
	cursor: pointer;
}

.stm-accordion-single-unit {
	.stm-accordion-content ul {
		padding: 5px 18px 17px 25px !important;
	}

	.filter-title {
		display: flex;
		align-items: center;

		h5 {
			max-width: 90%;
			margin-right: 3px;
		}

		&__text {
			margin-right: 5px;
		}

		&__selected {
			font-size: 12px;
			font-weight: normal;
			text-transform: capitalize;
		}
	}
}

.stm-accordion-content {
	li {
		> ul {
			display: none;
		}

		&.is-pseudo-refined {
			> label .checker span {
				background-position: -16px !important;
				box-shadow: none;
			}
		}

		&.is-refined, &.are-children-refined {
			& > ul {
				display: block;
			}
		}
	}
}
.tox-statusbar__path,
.tox-statusbar__branding {
	display: none !important;
}


.tox .tox-statusbar {
	border-top: none !important;
}
//#app input[type=number]::-webkit-inner-spin-button, #app input[type=number]::-webkit-outer-spin-button {
//	display: none;
//}
.ais-CurrentRefinements {
	.ais-CurrentRefinements-item {
		float: left;
		padding-right: 0 !important;
	}
	.ais-CurrentRefinements-list {
		list-style-type: none;
		padding-left: 0;
	}
	.stm-filter-chosen-units-list {
		margin-right: 15px !important;
		margin-bottom: 7px;
		position: relative;
		float: left;
		padding: 4px 14px 6px 13px;
		font-size: 13px;
		box-shadow: 0 1px 3px rgba(59, 62, 68, 0.3);
		border-radius: 3px;
		color: #aaa;
		.stm-clear-listing-one-unit {
			position: relative;
			left: 5px;
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
	opacity: 0;
}
.price_filter {
	form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 7px 20px;
		input {
			padding: 0 4px !important;
			font-size: 12px;
			height: 34px !important;
			line-height: 34px !important;
			margin: 0 !important;
		}
		label {
			max-width: 33%;
		}
	}
	button {
		padding: 0;
	}
	.submitLabel {
		padding: 8px 12px;
	}
}
body.stm-template-listing_four {
	.stm_add_car_form {
		.stm-form-4-videos {
			.stm-video-link-unit {
				.stm-after-video {
					height: 40px;
					&:after {
						top: 17px;
					}
					&:before {
						top: 13px;
					}
				}
			}
		}
	}
}

.delete-all {
	color: #db1c22;
	cursor: pointer;
}
.image_uploader {
	margin-bottom: 20px;
	input[type="file"] {
		opacity: 0;
		visibility: hidden;
	}
	.progress-bar-wrapper {
		display: flex;
		flex-direction: column;
		height: auto;
		padding: 5px 10px;
		div {
			display: block;
			width: 100%;
		}
	}
	.progress-bar {
		background-color: #db1c22;
		transition: .1s all;
		height: 5px;
		align-self: start;
		border-radius: 6px;
		width: 0;
		margin-bottom: 0;
	}
	.sortable-chosen {
		.image__label {
			opacity: 0 !important;
			visibility: hidden !important;
		}
	}
	span {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		.image {
			width: 18%;
			height: 100px;
			margin: 4px;
			display: flex;
			align-items: center;
		}
	}
	.listing-thumbnails {
		margin-bottom: 40px;
	}
	.gallery-uploader {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&__text {
			height: auto !important;
		}
	}
	.stm-listing-loader {
		animation: spin 2s infinite linear;
	}
	.image.draggable {
		border: 1px solid #eee;
	}
	.image-preloader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: #efefef;
		border: 1px solid #eaeaea;
		&__text {
			height: auto !important;
			line-height: 14px;
		}
	}
	.stm-listing-loader.visible {
		height: auto !important;
		margin-bottom: 10px;
	}
	.image_wrapper {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		cursor: move ;
		img {
			max-height: 100px;
			margin: 0 auto;
		}
		&.active {
			border: 1px solid #db1c22;
			transition: .15s all;
		}
		.image__label {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			background: #eee;
			font-size: 12px;
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			.image__label {
				opacity: 1;
				visibility: visible;
				transition: .15s all;
			}
		}
		&:focus {
			.image__label {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&__main-photo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 432px;
		background-color: #eee;
		img {
			margin: 0 auto;
			max-height: 432px;
		}
	}

	&__previews {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item-preview {
		width: 19%;
		background-color: #eee;
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s all;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		.stm-service-icon-photos {
			font-size: 20px;
		}

	}
	.preview__remove {
		position: absolute;
		top: -10px;
		right: -8px;
		cursor: pointer;
		font-size: 20px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #db1c22;
		color: #fff;
		line-height: 24px;
		text-align: center;
	}
}
@keyframes spin {
	from { -webkit-transform: rotate(0deg) }
	to { -webkit-transform: rotate(360deg) }
}
