
.ais-RefinementList-list {
	&__no-options  {
		font-size: 15px;
		font-style: italic;
	}
}

.single-listings .scrollToTop {
	display: none;
}

.single-listings {
	.grecaptcha-badge {
		display: none !important;
	}
	.single-car-prices {
		background-color: transparent;
		border: 3px solid #e4e6ea;
		.single-regular-price{
			.h3 {
				color: #000;
			}
		}
	}
	.stm-listing-car-dealer-info {
		.stm-user-main-info-c {
			display: flex;
			align-items: center;
			.user-icon {
				margin-right: 22px;
				color: #db1c22;
			}
			.user-name {
				h3 {
					margin-bottom: 0;
				}
			}
		}
	}
	.contact-seller {
		position: relative;
		top: -22px;
		&__btn {
			width: 100%;
			padding: 12px 12px !important;
			font-weight: bold;
		}
	}
}

.pswp__ui--fit .pswp__caption, .pswp__ui--fit .pswp__top-bar {
	background-color: transparent !important;
}

.custom-thumbnails {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.custom-thumbnails .image_wrapper {
	width: 18%;
	margin: 1%;
	cursor: pointer;
	position: relative;
	top: -40px;
	border: 2px solid white;
}

.single-listings {

	.pswp__button {
		&--next, &--prev {
			visibility: visible;
			font-size: 35px;
			background-color: rgba(0, 0, 0, 0.45) !important;
			background-image: none !important;
			width: 60px !important;
			height: 60px !important;
			box-shadow: none;
			background: 0 0;
			top: 50% !important;
			margin-top: -50px;
			position: absolute;
			will-change: opacity;
			transition: opacity 333ms cubic-bezier(.4,0,.22,1);
			opacity: 0;

		}
		&--next, &--prev {
			font-family: FontAwesome;
			background-image: none !important;
			top: 22px;
		}
		&--next::after, &--prev::after {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #fff;
		}
		&--next::after {
			content: "\F104";
			transform: translate(-50%, -50%);
		}
		&--prev::after {
			content: "\F105";
			transform: translate(-35%, -50%)
		}
	}
	.pswp__ui--fit:not(.pswp__ui--hidden) {
		.pswp__button {
			&--next, &--prev {
				opacity: 1;
			}
		}
	}

	.dealer-contact-unit{
		padding-left: 33px !important;
		&.phone {
			flex-direction: column;
			.call-or-text {
				span {
					border: none !important;
					font-size: 14px !important;
				}
			}
			.text_call_ok {
				top: 25px !important;
			}
			.span {
				cursor: default !important;
			}
			.calls_ok,
			.texts_ok  {
				font-size: 14px;
				text-decoration: none;
				border: none;
				font-weight: bold;
				&.inactive {
					color: #232628 !important;
				}
			}

		}
	}

}


#single-car-price {
	margin: 10px 0 20px 0;
}

.inner-table .heading-font-vin {
	padding-left: 0 !important;
}

.stm-table-main .inner-table:not(.stm-table-main) tr td {
	border-bottom: none !important;
}

.custom-thumbnails .image_wrapper:last-child {
	margin-right: auto;
}

.custom-thumbnails .image_wrapper.active {
	border: 2px solid #000;
}

body .pswp__button--share {
	display: none;
}

.pswp-thumbnail,
.pswp__button.pswp__button--fs {
	display: none !important;
}

.pswp__counter {
	width: 100%;
	bottom: 0 !important;
	position: fixed !important;
	text-align: center;
	top: auto !important;
}

.pswp__ui--idle .pswp__button--arrow--left, .pswp__ui--idle .pswp__button--arrow--right {
	opacity: 1 !important;
}

.pswp__img {
	background-color: transparent !important;
}

.pswp__ui--idle .pswp__top-bar {
	opacity: 1 !important;
	background-color: transparent !important;
}

.pswp__top-bar {
	height: 0 !important;
}

@media screen and (orientation: portrait) {
	.pswp__button.pswp__button--close {
		display: none !important;
	}
}

button {
	&.pswp__button--arrow--left, &.pswp__button--arrow--right {
		font-size: 35px;
		background-color: rgba(0,0,0,.45) !important;
		width: 60px !important;
		height: 60px !important;
		&:hover {
			background-color: rgba(0,0,0,.45) !important;
		}
		&::before,
		&::after {
			font-family: FontAwesome;
			background-image: none !important;
			top: 22px;
		}

	}
	&.pswp__button--arrow--right {
		right: 1%;
		&::before {
			content: '\f105';
			right: 13px;
		}
	}

	&.pswp__button--arrow--left {
		left: 1%;
		&::before {
			content: '\f104';
			left: 13px;
		}
	}
}
.pswp__img {
	cursor: default !important;
}

body.stm-template-listing_four .stm_listing_car_form .wpcf7-response-output {
	color: #222 !important;
}

.call-or-text {
	margin-bottom: 15px;
	.loader {
		position: relative;
		margin-left: 20px;
		opacity: 0;
		visibility: hidden;
		&::after {
			content: '\f1ce';
			display: block;
			font-family: 'FontAwesome';
			color: #333333;
			font-size: 15px;
			position: absolute;
			right: 0;
			top: 0;
			animation: spin 2s linear infinite;
		}
	}
	.loader.active {
		opacity: 1 !important;
		visibility: visible !important;
	}
}
